/* CSS Reset */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

aside {
   flex-grow: 1;
   flex-basis: 250px;
    background-color: aquamarine;
}

section {
    flex-grow: 4;
    flex-basis: 800px;
    background-color:blueviolet;
    display: flex;
    flex-direction: column;
}

footer {
    min-height: 400px;
    background-color: darkgreen;
    text-align: center;
}